.intro__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-top: 33px;
}

@media screen and (max-width: 767px) {
    .intro__list {
        max-width: 100%;
        padding-top: 34px;
    }
}