.lead {
    grid-area: lead;
    max-width: 76.875%;
    max-height: 100%;
    position: relative;
    padding-top: 56px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .lead {
        padding-top: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 100%;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .lead {
        max-width: 90.625%;
    }
}