.main {
    grid-area: main;
    max-width: 100%;
    min-height: 100vmin;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
    "lead"
    "intro"
    "photo-grid"
    "places"
    "cover";
    position: relative;    
    margin: 0 auto;
}