.main {
    max-width: 1280px;
    grid-area: main;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
    "lead"
    "intro"
    "photo-grid"
    "places"
    "cover";
    position: relative;
    margin: 0 auto;
}