.cover__subtitle {
    max-width: 360px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
    padding-top: 32px;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }
}