.intro__title-text {
    font-size: 54px;
    line-height: 1.07;
    font-weight: 900;
    font-style: normal;
    color: white;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .intro__title-text {
        font-size: 32px;
        line-height: 1.09;
    }
}