.footer__link {    
    text-decoration: none;
    padding-right: 1.5vw;
}

.footer__link:hover {
    opacity: 0.4;
}

@media screen and (max-width : 767px)  and (min-width : 320px) {
    .footer__link {
        padding-right: 0;
        padding-bottom: 10vw;
    }
}