.intro {
    grid-area: intro;
    position: relative;
    max-width: 76.875%;
    padding-top: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .intro {
        padding-top: 64px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .intro {
        padding-top: 88px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 90%;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .intro {
        max-width: 90.625%;
    }
}