.cover__overlay {
    position: absolute; 
    background-image: none;
    background-color: transparent;
    background-clip: content-box;
    background-origin: content-box;
    background-size: cover;
    width: 100%;
    height: 100vmin;
    object-fit: cover;    
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

 .cover__overlay:link {
    background-image: url(./../../../images/cover-overlay.png);
}

.cover__overlay:hover {
    opacity: 1;
}