.footer {
    grid-area: footer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 92.5%;
    margin: 0 auto;
    padding-top: 11.5vmin;
    padding-bottom: 3vmin;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .footer {
        flex-direction: column;
        max-width: 58%;
        margin: 0;
        justify-content: flex-start;
        padding-left: 5%;
        padding-top: 32vmin;
        padding-bottom: 8vmin;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .footer {
        padding-top: 14vmin;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .footer {
        padding-top: 14vmin;
    }
}