.place__url {
    font-size: 12px;
    line-height: 20.4px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0;
    padding-bottom: 12px;
}

@media screen and (max-width: 1023px) {
    .place__url {        
        line-height: 12px;
    }
}
