.place__url {
    margin: 0;
    padding-bottom: 1.5vmin;
}

@media screen and (max-width : 767px) and (min-width : 320px) {
    .place__url {
        padding-bottom: 6vmin;
    }
}

@media screen and (max-width : 1023px) and (min-width : 768px) {
    .place__url {
        padding-bottom: 2.5vmin;
    }
}

@media screen and (max-width : 1279px) and (min-width : 1024px) {
    .place__url {
        padding-bottom: 1,875vmin;
    }
}