.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

@media screen and (max-width: 767px) {
    .place__website {
        min-width: 90%;
    }
}