.cover__title-link {
    box-sizing: border-box;
    background-color: rgba(46, 46, 50, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;    
}

.cover__title-link:hover {
    background-color: rgba(46, 46, 50, .8);
    transition: background-color 2s;
}
