.cover__title-link {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: 50%;
}

.cover__title-link:hover {
    opacity: 0.3;    
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .cover__title-link {
        max-width: 80%;
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .cover__title-link {
        max-width: 54%;
    }
} 